<style>
    .invoice-footer {
        clear: both;
        display: inline-block;
        height: 50mm;
        margin-top: 60px;
        width: 100%;
    }

    .invoice-footer-container {
        float: left;
        font-size: 12px;
        width: 25%;
    }
</style>
<footer class="invoice-footer">

    <div class="invoice-footer-container">
        Pfaffenberger Weg 142<br/>
        42659 Solingen
    </div>

    <div class="invoice-footer-container">
        Telefon | Mail | Web<br/>
        Büro:<br/>
        0212/2263078<br/>
        Fax:<br/>
        0212/2263079<br/>
        E-Mail: info@pcsg.de<br/>
        Web:<br/>
        www.pcsg.de<br/>
    </div>

    <div class="invoice-footer-container">
        Steuerinformation<br/>
        HRA: 22653 AG Wuppertal<br/>
        USt.-IdNr.: DE263620766<br/>
        Geschäftsführer:<br/>
        Moritz Scholz, Henning Leutz
    </div>

    <div class="invoice-footer-container">
        Bankverbindung<br/>
        Deutsche Bank Solingen<br/>
        IBAN: DE49342700240014430300<br/>
        BIC: DEUTDEDB342<br/>
        Kto: 014430300<br/>
        BLZ: 34270024
    </div>

</footer>
