<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\ERP\Accounting\Invoice\EventHandler::onPackageSetup"/>
    <event on="onPackageSetup" fire="\QUI\ERP\Accounting\Invoice\EventHandler::onProductsPackageSetup"/>

    <event on="onTransactionCreate"
           fire="\QUI\ERP\Accounting\Invoice\EventHandler::onTransactionCreate"
    />

    <event on="onTransactionStatusChange"
           fire="\QUI\ERP\Accounting\Invoice\EventHandler::onTransactionStatusChange"
    />

    <event on="onQuiqqer::frontend-users::user-address-top"
           fire="\QUI\ERP\Accounting\Invoice\EventHandler::onFrontendUsersAddressTop"
    />

    <event on="onUserSaveBegin"
           fire="\QUI\ERP\Accounting\Invoice\EventHandler::onUserSaveBegin"
    />

    <event on="onQuiqqerErpGetCommentsByUser"
           fire="\QUI\ERP\Accounting\Invoice\EventHandler::onQuiqqerErpGetCommentsByUser"
    />
</events>