parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#6 \\$User of static method QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Factory\\:\\:createPaymentTransaction\\(\\) expects null, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: ajax/invoices/addPayment.php

		-
			message: "#^Parameter \\#1 \\$Calc of method QUI\\\\ERP\\\\Accounting\\\\ArticleList\\:\\:calc\\(\\) expects null, QUI\\\\ERP\\\\Accounting\\\\Calc given\\.$#"
			count: 1
			path: ajax/invoices/temporary/calc.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/EventHandler.php

		-
			message: "#^PHPDoc tag @throws has invalid value \\(\\)\\: Unexpected token \"\\\\n     \", expected type at offset 212$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Factory.php

		-
			message: "#^Class QUI\\\\Database\\\\Exception referenced with incorrect case\\: QUI\\\\DataBase\\\\Exception\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:getShipping\\(\\) has invalid return type QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:getShipping\\(\\) should return int\\|QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\|null but returns QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\|null\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$globalProcessId$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^PHPDoc tag @throws has invalid value \\(\\)\\: Unexpected token \"\\\\n     \", expected type at offset 174$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^PHPDoc tag @throws has invalid value \\(\\)\\: Unexpected token \"\\\\n     \", expected type at offset 86$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Property QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:\\$Shipping \\(QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\|null\\) does not accept QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Property QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:\\$Shipping has unknown class QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface as its type\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Call to method getId\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to method getId\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to method toJSON\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\:\\:getShipping\\(\\) has invalid return type QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^PHPDoc tag @throws has invalid value \\(\\)\\: Unexpected token \"\\\\n     \", expected type at offset 86$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Parameter \\$Shipping of method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\:\\:setShipping\\(\\) has invalid type QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceView.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceView.php

		-
			message: "#^Call to an undefined method QUI\\\\ERP\\\\Accounting\\\\ArticleListUnique\\:\\:setUser\\(\\)\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Output/OutputProviderInvoice.php

		-
			message: "#^Call to an undefined method QUI\\\\ERP\\\\Accounting\\\\ArticleListUnique\\:\\:toUniqueList\\(\\)\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Output/OutputProviderInvoice.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Output/OutputProviderInvoice.php

		-
			message: "#^Parameter \\#2 \\$key of method QUI\\\\Config\\:\\:setValue\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/ProcessingStatus/Factory.php

		-
			message: "#^Parameter \\#2 \\$key of method QUI\\\\Config\\:\\:del\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/ProcessingStatus/Handler.php

		-
			message: "#^Parameter \\#2 \\$key of method QUI\\\\Config\\:\\:setValue\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/ProcessingStatus/Handler.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_starts_with expects string, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php

		-
			message: "#^Parameter \\#1 \\$string of function substr_replace expects array\\|string, int given\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Utils/Invoice.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Utils/Invoice.php
