parameters:
	ignoreErrors:
		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/EventHandler.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:getShipping\\(\\) has invalid return type QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:getShipping\\(\\) should return int\\|QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\|null but returns QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\|null\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Property QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:\\$Shipping \\(QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\|null\\) does not accept QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingUnique\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Property QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\:\\:\\$Shipping has unknown class QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface as its type\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/Invoice.php

		-
			message: "#^Call to method getId\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to method getId\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to method toJSON\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\:\\:getShipping\\(\\) has invalid return type QUI\\\\ERP\\\\Shipping\\\\Types\\\\ShippingEntry\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Parameter \\$Shipping of method QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\:\\:setShipping\\(\\) has invalid type QUI\\\\ERP\\\\Shipping\\\\Api\\\\ShippingInterface\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Invoice/InvoiceTemporary.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Output/OutputProviderInvoice.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Invoice/Search/InvoiceSearch.php
