includes:
	- phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - ajax
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    customRulesetUsed: true
services:
    -
        class: \PHPStan\Rules\Properties\TypesAssignedToPropertiesRule
        tags:
            - phpstan.rules.rule
