includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - ajax
    excludePaths:
        # Requires the optional 'quiqqer/rest' package
        - src/QUI/ERP/Accounting/Invoice/RestApi/Provider.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    customRulesetUsed: true
services:
    -
        class: \PHPStan\Rules\Properties\TypesAssignedToPropertiesRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ArrowFunctionReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ClosureReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Methods\ReturnTypeRule
        tags:
            - phpstan.rules.rule
