<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings name="ERP">

        <config>
            <section name="invoice">
                <conf name="prefix">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[INV-]]></defaultvalue>
                </conf>
                <conf name="autoPost">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
                <conf name="sendMailAtCreation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[0]]></defaultvalue>
                </conf>
                <conf name="time_for_payment">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue><![CDATA[7]]></defaultvalue>
                </conf>
                <conf name="storno">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
                <conf name="globalInvoiceText">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="productDescriptionSource">
                    <type>integer</type>
                </conf>
            </section>

            <section name="temporaryInvoice">
                <conf name="prefix">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[EDIT-]]></defaultvalue>
                </conf>
                <conf name="openPrintDialogAfterPost">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
            </section>
        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/invoice" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="invoice" index="2">
                    <text>
                        <locale group="quiqqer/invoice" var="window.erp.invoice.title"/>
                    </text>
                    <icon>fa fa-file-text-o</icon>

                    <settings title="invoice" name="invoice">
                        <title>
                            <locale group="quiqqer/invoice" var="invoice.settings.title"/>
                        </title>

                        <input type="text" conf="invoice.prefix">
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.invoice.prefix"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.prefix.description"/>
                            </description>
                        </input>

                        <input type="text" conf="temporaryInvoice.prefix">
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.temporaryInvoice.prefix"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.prefix.description"/>
                            </description>
                        </input>

                        <input type="checkbox" conf="invoice.sendMailAtCreation">
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.sendMailAtCreation"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice" var="invoice.settings.sendMailAtCreation.description"/>
                            </description>
                        </input>

                        <input type="number" conf="invoice.time_for_payment">
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.invoice.time_for_payment"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.time_for_payment.description"/>
                            </description>
                        </input>

                        <select conf="invoice.storno">
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.invoice.storno"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.storno.desc"/>
                            </description>

                            <option value="0">
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.storno.no"/>
                            </option>
                            <option value="1">
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.storno.allowed"/>
                            </option>
                        </select>

                        <input type="checkbox" conf="temporaryInvoice.openPrintDialogAfterPost">
                            <text>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.openPrintDialogAfterPost"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.openPrintDialogAfterPost.description"/>
                            </description>
                        </input>

                        <input type="hidden"
                               data-qui="package/quiqqer/translator/bin/controls/Update"
                               data-qui-options-group="quiqqer/invoice"
                               data-qui-options-package="quiqqer/invoice"
                               data-qui-options-var="global.invoice.text"
                        >
                            <text>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.globalInvoiceText"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.globalInvoiceText.description"/>
                            </description>
                        </input>

                        <input conf="invoice.productDescriptionSource"
                               data-qui="package/quiqqer/products/bin/controls/fields/Select"
                               data-qui-options-max="1"
                               data-qui-options-multiple="0"
                        >
                            <text>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.productDescriptionSource"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice"
                                        var="invoice.settings.invoice.productDescriptionSource.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="invoiceDownload" name="invoiceDownload">
                        <title>
                            <locale group="quiqqer/invoice" var="invoice.settings.download.title"/>
                        </title>

                        <input type="hidden"
                               data-qui="package/quiqqer/translator/bin/controls/Update"
                               data-qui-options-group="quiqqer/invoice"
                               data-qui-options-package="quiqqer/invoice"
                               data-qui-options-var="pdf.download.name"
                        >
                            <text>
                                <locale group="quiqqer/invoice" var="invoice.settings.download.name.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/invoice" var="invoice.settings.download.name.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/invoice" var="invoice.settings.processingStatus.title"/>
                        </title>

                        <input type="hidden"
                               label="false"
                               data-qui="package/quiqqer/invoice/bin/backend/controls/settings/ProcessingStatus"
                        />
                    </settings>
                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
