.quiqqer-invoice-backend-invoiceItemsProduct {
    align-items: stretch;
    border-bottom: 1px solid #DEDEDE;
    clear: both;
    display: flex;
    flex-direction: row;
    float: left;
    min-height: 50px;
    position: relative;
    width: 100%;
}

.quiqqer-invoice-backend-invoiceItemsProduct .cell {
    padding: 10px;
    position: relative;
}

.quiqqer-invoice-backend-invoiceItemsProduct .cell-editable:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.quiqqer-invoice-backend-invoiceItemsProduct-pos {
    width: 50px;
}

.quiqqer-invoice-backend-invoiceItemsProduct-text {
    width: calc(100% - 550px);
}

.quiqqer-invoice-backend-invoiceItemsProduct-text-title {
    clear: both;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.quiqqer-invoice-backend-invoiceItemsProduct-text-description {
    clear: both;
    position: relative;
    width: 100%;
}

.quiqqer-invoice-backend-invoiceItemsProduct-text-description-edit {
    background: #EFEFEF;
    border: 1px solid #EFEFEF;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.quiqqer-invoice-backend-invoiceItemsProduct-text-description-buttons {
    height: 50px;
    text-align: center;
}

.quiqqer-invoice-backend-invoiceItemsProduct-quantity {
    width: 100px;
}

.quiqqer-invoice-backend-invoiceItemsProduct-unitPrice,
.quiqqer-invoice-backend-invoiceItemsProduct-price,
.quiqqer-invoice-backend-invoiceItemsProduct-vat,
.quiqqer-invoice-backend-invoiceItemsProduct-total {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
}

.quiqqer-invoice-backend-invoiceItemsProduct-total {
    width: 150px;
}
