.quiqqer-invoice-backend-invoiceItems {
    display: block;
    /*min-height: 300px;*/
    min-width: 1000px;
    position: relative;
    width: 100%;
}

.quiqqer-invoice-backend-invoiceItems-header {
    background: #DEDEDE;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.quiqqer-invoice-backend-invoiceItems-items {
    display: inline-block;
    width: 100%;
}

.header-cell {
    float: left;
    padding: 5px 10px;
}

.quiqqer-invoice-backend-invoiceItems-header-pos {
    width: 50px;
}

.quiqqer-invoice-backend-invoiceItems-header-description {
    width: calc(100% - 700px);
}

.quiqqer-invoice-backend-invoiceItems-header-quantity {
    text-align: right;
    width: 100px;
}

.quiqqer-invoice-backend-invoiceItems-header-articleNo,
.quiqqer-invoice-backend-invoiceItems-header-unitPrice,
.quiqqer-invoice-backend-invoiceItems-header-price,
.quiqqer-invoice-backend-invoiceItems-header-vat,
.quiqqer-invoice-backend-invoiceItems-header-total {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
}

.quiqqer-invoice-backend-invoiceItems-header-articleNo {
    text-align: left;
}

.quiqqer-invoice-backend-invoiceItems-header-total {
    width: 150px;
}
