.quiqqer-invoice-invoice input[disabled] {
    color: #666699;
}

.journal-grid-amount {
    text-align: right !important;
    padding-right: 5px;
    padding-left: 0 !important;
}

.journal-grid-cancel {
    text-decoration: line-through;
}

/** Preview
 ========================================== */

.quiqqer-invoice-backend-invoice-previewContainer {
    background-color: #efefef;
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.quiqqer-invoice-backend-invoice-preview {
    background: #fff;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    border: none;
    display: block;
    margin: 0 auto;
}

.quiqqer-invoice-backend-invoice-statusContainer {
    background: rgba(0, 0, 0, 0.015);
    display: flex;
    height: 40px;
    padding: 5px;
    width: 100%;
}

.quiqqer-invoice-backend-invoice-statusContainer .invoice-status-select {
    border: 1px solid #dedede;
    height: 32px;
}

.quiqqer-invoice-files {
    height: 100% !important;
}