
.payment-status-amountCell {
    text-align: right !important;
    padding-right: 5px;
    padding-left: 0 !important;
}

.journal-grid-cancel {
    opacity: 0.3;
    text-decoration: line-through;
}

.journal-grid-overdue {
    color: red;
    font-weight: bold;
}

.monospace {
    font-family: monospace, monospace;
}

/** Invoice details
 ================================================= */

.journal-invoice-details,
.journal-invoice-details-header,
.journal-invoice-details-article,
.journal-invoice-details-calculation {
    float: left;
    width: 100%;
}

.journal-invoice-details-header-pos,
.journal-invoice-details-header-articleNo,
.journal-invoice-details-header-description,
.journal-invoice-details-header-quantity,
.journal-invoice-details-header-netto,
.journal-invoice-details-header-brutto {
    border-bottom: 1px solid #dedede;
    margin-bottom: 5px !important;
}

.journal-invoice-details-header-pos,
.journal-invoice-details-header-articleNo,
.journal-invoice-details-header-description,
.journal-invoice-details-header-quantity,
.journal-invoice-details-header-netto,
.journal-invoice-details-header-brutto,
.journal-invoice-details-article-pos,
.journal-invoice-details-article-articleNo,
.journal-invoice-details-article-description,
.journal-invoice-details-article-quantity,
.journal-invoice-details-article-netto,
.journal-invoice-details-article-brutto {
    float: left;
    padding: 0 5px 5px 5px;
}

.journal-invoice-details-article {
    padding: 0 0 5px;
}

.journal-invoice-details-header-pos,
.journal-invoice-details-article-pos {
    width: 20px;
}

.journal-invoice-details-header-articleNo,
.journal-invoice-details-article-articleNo {
    width: 100px;
}

.journal-invoice-details-header-description,
.journal-invoice-details-article-description {
    width: 300px;
}

.journal-invoice-details-article-description .description {
    clear: both;
    display: block;
}

.journal-invoice-details-header-quantity,
.journal-invoice-details-article-quantity {
    text-align: right;
    width: 100px;
}

.journal-invoice-details-header-netto,
.journal-invoice-details-article-netto,
.journal-invoice-details-header-brutto,
.journal-invoice-details-article-brutto {
    text-align: right;
    width: 160px;
}

.journal-invoice-details-calculation {
    border-top: 1px solid #DEDEDE;
    padding: 5px 0;
}

.journal-invoice-details-calculation-container {
    text-align: right;
    width: 840px;
}

/** Journal details
 ================================================= */

.invoices-invoice-details {
    border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 10px;
    max-width: 800px;
    padding-bottom: 10px;
    width: 100%;
}

.invoices-invoice-details h1 {
    display: none;
}

.invoices-invoice-details .articles-article {
    margin-top: 0;
}

.invoices-invoice-details .articles-article-header th {
    background: #dedede;
    line-height: normal;
}

.invoices-invoice-details td {
    background: #fefefe;
    border-right: 0 !important;
}

.invoices-invoice-details .articles-sum td {
    text-align: right;
}

/** Total Display
 ================================================= */

.journal-total {
    background: #fff;
    border-top: 2px solid #DEDEDE;
    bottom: -20px;
    display: none;
    float: left;
    height: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.journal-total header,
.journal-total-row {
    clear: both;
    float: left;
    width: 100%;
}

.journal-total header > div,
.journal-total-row > div {
    float: left;
    line-height: 25px;
    padding: 0 10px;
    text-align: right;
    width: 25%;
}

.journal-total-row > div:first-child {
    text-align: left;
}

.journal-total-row:nth-child(even) {
    background: #f7f7f7;
}

.journal-total-row:hover {
    background: #eaeff4;
}

/** invoice details
 ================================================= */

.invoices-invoice-details table {
    border-collapse: collapse;
    border: 0 solid;
    font: normal 11px verdana, arial, helvetica, sans-serif;
    width: 100%;
}

.invoices-invoice-details thead,
.invoices-invoice-details tfoot {
    height: 24px;
}

.invoices-invoice-details tfoot th {
    padding: 5px;
}

.invoices-invoice-details thead th {
    padding: 5px;
    border-right: 1px solid #DDDDDD;
}

.invoices-invoice-details td {
    padding: 3px 10px;
}

.invoices-invoice-details .articles-sum td {
    font-size: 14px !important;
}
