.quiqqer-invoice-addProductWin .quiqqer-products-productEdit-header-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.quiqqer-invoice-addProductWin .quiqqer-products-productEdit-header-text {
    padding-bottom: 20px;
}