.quiqqer-order-step-address-description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.quiqqer-order-step-address-description-text {
    float: left;
    width: calc(100% - 200px);
}

.quiqqer-order-step-address-description-button {
    float: right;
    font-size: 14px;
    line-height: 20px !important;
    max-width: 200px;
    padding: 10px !important;
    text-transform: inherit !important;
}

.quiqqer-order-step-address-description-button span {
    font-size: 14px;
}

/** container
 ================================================== */

.quiqqer-order-step-address-container {
    background: #fff;
    border: 1px solid #dedede;
    height: 100%;
    left: -50px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-order-step-address-container-close {
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

.quiqqer-order-step-address-container-content {
    float: left;
    margin-top: 40px;
    width: 100%;
}

/** Rechnungsadresse
 ================================================== */

.quiqqer-order-step-address-list-entry {
    float: left;
    margin-top: 20px;
    width: calc(50% - 5px);
}

.quiqqer-order-step-address-list-entry:hover {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-order-step-address-list-entry:nth-child(odd) {
    margin-right: 5px;
}

.quiqqer-order-step-address-list-entry:nth-child(even) {
    margin-left: 5px;
}

.quiqqer-order-step-address-list-entry [type="radio"] {
    float: right;
    margin: 7px;
}

.quiqqer-order-step-address-list-entry header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.quiqqer-order-step-address-list-entry address {
    margin-bottom: 10px;
    padding: 10px;
}

.quiqqer-order-step-address-list-entry-buttons {
    padding: 0 10px 10px 0;
    text-align: right;
}

/** Rechnungsadresse
 ================================================== */

.quiqqer-order-step-address-edit {
    max-width: 600px;
    width: 100%;
}

.quiqqer-order-step-address-edit header {
    margin-bottom: 40px;
}

.quiqqer-order-step-address-edit label {
    clear: both;
    display: inline-block;
    width: 100%;
}

.quiqqer-order-step-address-edit label span {
    float: left;
    width: 50%
}

.quiqqer-order-step-address-edit input,
.quiqqer-order-step-address-edit select {
    float: left;
    width: 50%
}

.quiqqer-order-step-address-edit-button {
    margin-left: 50%;
    width: 50%;

    padding: 10px !important;
    font-size: 14px !important;
}

/** Rechnungsadresse löschen
 ================================================== */

.quiqqer-order-step-address-delete {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.quiqqer-order-step-address-delete-container-deleteBtn {
    padding: 10px !important;
    font-size: 14px !important;
}

.quiqqer-order-step-address-delete-container address {
    margin: 20px auto;
}

/** Rechnungsadresse löschen - js
 ================================================== */

.quiqqer-order-step-address-container-delete {
    text-align: center;
}

.quiqqer-order-step-address-container-delete-message {
    margin-bottom: 20px;
}