.quiqqer-order-step-address-description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.quiqqer-order-step-address-description-text {
    float: left;
    width: calc(100% - 200px);
}

.quiqqer-order-step-address-description-button {
    float: right;
    font-size: 14px;
    line-height: 20px !important;
    max-width: 200px;
    padding: 10px !important;
    text-transform: inherit !important;
}

.quiqqer-order-step-address-description-button span {
    font-size: 14px;
}

/** Rechnungsadresse
 ================================================== */

.quiqqer-order-step-address-list-entry {
    float: left;
    margin-top: 20px;
    width: calc(50% - 5px);
}

.quiqqer-order-step-address-list-entry:hover {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-order-step-address-list-entry:nth-child(odd) {
    margin-right: 5px;
}

.quiqqer-order-step-address-list-entry:nth-child(even) {
    margin-left: 5px;
}

.quiqqer-order-step-address-list-entry [type="radio"] {
    float: right;
    margin: 7px;
}

.quiqqer-order-step-address-list-entry header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.quiqqer-order-step-address-list-entry address {
    margin-bottom: 10px;
    padding: 10px;
}

.quiqqer-order-step-address-list-entry-buttons {
    padding: 0 10px 10px 0;
    text-align: right;
}

.quiqqer-order-step-address-list-entry-buttons button {
    font-size: 12px !important;
    padding: 0 10px !important;
}

/** Rechnungsadresse
 ================================================== */

.quiqqer-order-step-address-edit {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.quiqqer-order-step-address-edit header {
    margin-bottom: 40px;
}

.quiqqer-order-step-address-edit label {
    clear: both;
    display: inline-block;
    width: 100%;
}

.quiqqer-order-step-address-edit label span {
    float: left;
    width: 50%
}

.quiqqer-order-step-address-edit input,
.quiqqer-order-step-address-edit select {
    float: left;
    width: 50%
}

.quiqqer-order-step-address-edit-button {
    margin-left: 50%;
    width: 50%;

    padding: 10px !important;
    font-size: 14px !important;
}

/** Rechnungsadresse
 ================================================== */

.quiqqer-order-step-address-delete {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.quiqqer-order-step-address-delete-container-deleteBtn {
    padding: 10px !important;
    font-size: 14px !important;
}

.quiqqer-order-step-address-delete-container address {
    margin: 20px auto;
}