.quiqqer-invoice-refund {
    position: relative;
}

.quiqqer-invoice-refund-list {
    position: relative;
}

.quiqqer-invoice-refund-list-entry {
    clear: both;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.quiqqer-invoice-refund-list-entry:hover {
    background: rgba(0, 0, 0, 0.2);
}

.quiqqer-invoice-refund-list-entry input {
    float: left;
    margin: 4px 0 0 0;
    outline: none;
    padding-top: 5px;
    text-align: center;
    width: 50px;
}

.quiqqer-invoice-refund-list-entry-data {
    float: left;
    width: calc(100% - 50px);
}

.quiqqer-invoice-refund-list-entry-txid,
.quiqqer-invoice-refund-list-entry-payment {
    display: block;
    width: 100%;
}

.quiqqer-invoice-refund-list-entry-amount {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.quiqqer-invoice-refund-transaction-refund-currency {
    text-align: center;
    width: 50px;
}

/** transactions
 ========================================== */

.quiqqer-invoice-refund-transaction {
    position: relative;
}

.quiqqer-invoice-refund-transaction .comment label,
.quiqqer-invoice-refund-transaction .comment textarea {
    height: 120px;
    width: 100% !important;
}
