.quiqqer-invoice-printDialog {
    padding: 10px !important;
}

.quiqqer-invoice-printDialog form {
    float: left;
    width: 400px;
}

.quiqqer-invoice-printDialog form table {
    border: none;
    padding: 0;
}

.quiqqer-invoice-printDialog select {
    width: 100%;
}

.quiqqer-invoice-printDialog-preview {
    background-color: #efefef;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 20px;
    width: calc(100% - 400px);
}

.quiqqer-invoice-printDialog-invoice-preview {
    background: #fff;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    border: none;
    display: block;
    margin: 0 auto;
}