:where(.quiqqer-invoice-profile-invoices-table) {
    width: 100%;
}

:where(.quiqqer-invoice-profile-invoices-table th) {
    padding: 5px;
    text-align: left;
}

:where(.quiqqer-invoice-profile-invoices-table td) {
    padding: 5px;
}

.quiqqer-invoice-profile-invoices-table-th-invoice-dl,
.quiqqer-invoice-profile-invoices-table-invoice-dl {
    text-align: center;
    width: 100px;
}

.quiqqer-invoice-profile-invoices-table-invoice-date {
    width: 140px;
}

:where(.quiqqer-invoice-profile-invoices-table tbody tr:nth-child(even)) {
    background: #f8f8f8;
}